<html>
  <head>
    <style>
      .invoice-printed-container {
        font-size: 14px;
        text-align: left;
      }

      .header {
        border-bottom: 1px dotted black;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        padding: 15px 0;
      }

      .invoice-title {
        display: flex;
        border-bottom: 1px dotted black;
        justify-content: space-between;
      }

      .invoice-data-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .invoice-number {
        padding: 5px 0;
      }

      .buyer {
        padding: 5px 0;
      }

      .created-by {
        padding: 5px 0;
      }

      .date {
        padding: 5px 0;
      }

      .qr-code {
        display: flex;
        justify-content: center;
      }

      .invoice-items {
        border-bottom: 1px dotted black;
      }

      .item {
        padding: 5px 0;
      }

      .item-content .number {
        font-weight: 600;
      }

      .amount {
        text-align: right;
        font-weight: 600;
      }

      .amounts .gross-amount {
        text-align: right;
        font-weight: 600;
      }

      .amounts .advance-payment {
        text-align: right;
        font-weight: 600;
      }

      .amounts .rest-payment {
        text-align: right;
        font-weight: 600;
      }

      .cash-register-container .title {
      }

      .cash-register-container .item-description {
      }

      .notice {
        text-align: center;
        margin-top: 20px;
      }

      .footer {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <input type="hidden" id="printer-name" />

    <div
      class="invoice-printed-container"
      style="width: <%= settings.invoicePrintWidth %>cm"
    >
      <div class="header"><%= settings.header %></div>
      <div class="invoice-title">
        <div class="invoice-data-container">
          <div class="invoice-number">
            <%= invoice.placeholders.invoiceNumber %>: <%= invoice.oid %>
          </div>
          <% if (invoice.buyerName) { %>
          <div class="buyer">
            <%= invoice.placeholders.buyer %>: <%= invoice.buyerName %>
          </div>
          <% } %> <% if (invoice.user?.name) { %>
          <div class="created-by">
            <%= invoice.placeholders.createdBy %>: <%= invoice.user.name %>
          </div>
          <% } %>
          <div class="date">
            <%= invoice.placeholders.date %>: <%= invoice.createDate %>
          </div>
        </div>
        <div class="qr-code">QR Code TODO</div>
      </div>
      <div class="invoice-items">
        <% invoice.invoiceItems.forEach((item, i) => { %>
        <div class="item">
          <div class="item-content">
            <div class="number"><%= i + 1 %>.&nbsp;<%= item.header %></div>
            <div class="description"><%= item.title %></div>
          </div>
          <div class="amount">
            <%= item.amountShow %> <%= settings.currencyDisplay %>
          </div>
        </div>
        <% }); %>
      </div>

      <div class="amounts">
        <div class="gross-amount">
          <%= invoice.placeholders.total %>: <%= invoice.amountShow %> <%=
          settings.currencyDisplay %>
        </div>

        <% if (invoice.amount - invoice.advancePayment !== 0) { %>
        <div class="advance-payment">
          <%= invoice.placeholders.advancePayment %>: <%=
          invoice.advancePaymentShow %> <%= settings.currencyDisplay %>
        </div>
        <% } %> <% if (invoice.amount - invoice.advancePayment !== 0) { %>
        <div class="rest-payment">
          <%= invoice.placeholders.restPayment %>: <%= invoice.restPaymentShow
          %> <%= settings.currencyDisplay %>
        </div>
        <% } %>
      </div>

      <% if (invoice.amount - invoice.advancePayment === 0) { %>
      <div class="cash-register-container">
        <div class="title"><%= invoice.placeholders.cashRegisterReport %>:</div>
        <% invoice.fiscalReceiptDescription.forEach((desc) => { %>
        <div class="item-description"><%= desc %></div>
        <% }); %>
      </div>
      <% } %>

      <div class="notice">
        <%= invoice.placeholders.thisIsNotFiscalReceipt %>
      </div>

      <% if (invoice.amount - invoice.advancePayment !== 0) { %>
      <div class="footer"><%= settings.footer %></div>
      <% } %>
    </div>
  </body>
</html>
